.prove
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
data/
depcomp
install-sh
ltmain.sh
missing
polkovodets-*.tar.gz
src/Makefile
src/Makefile.in
*.deps/
*Makefile
*Makefile.in
*.o
stamp-h1
src/c/polkovodets
